<p id="notice"><%= notice %></p>

<h1>STUFF TO DO</h1>

<%= link_to 'New User Task', new_user_task_path, class:'btn btn-primary', remote: true %>


<div id="task-form"></div>

<div id="tasks">
  <%= render @user_tasks %> 
</div>





<br>






